# In this feel, the following Squads needs to be replaced with the real name of the Teams
# CODEOWNERS
* @org-rodriguez-conva/Squad_Admin @org-rodriguez-conva/Squad_Organization @org-rodriguez-conva/Squad_Tagus_Engineer

#Specify master branch
/master/* @org-rodriguez-conva/Squad_Admin @org-rodriguez-conva/Squad_Tagus_Engineer @org-rodriguez-conva/Squad_Organization

        
